.contentRows:hover {
  background-color: #53575e;
}

.blurred {
  filter: blur(5px);
}

.employeeModal {
  width: 50%;
  height: 50%;
  background-color: white;
  position: absolute;
  left: 25%;
  top: 25%;
  z-index: 999;
  border-radius: 25px;
  border: solid 1px #aaa
}
