<div [ngClass]='classes'><h1 style='text-align: center; padding: 20px;'>All employees</h1>
  <div style='text-align: center; padding-bottom: 20px'>
    <button type="button" class="btn btn-primary" (click)='openAddBox()'>Add employee</button>
    <button type="button" class="btn btn-success" (click)='refreshList();$event.target.blur()'>Refresh list</button>
  </div>
  <router-outlet></router-outlet>
  <div class='mat-elevation-z8' style='margin: 0 10% 0 10%'>
    <table class="table table-inverse">
      <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Company name</th>
      </tr>
      </thead>
      <tbody>
      <tr class='contentRows' *ngFor='let employee of employees' (click)='openEditBox(employee)'>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.companyEntity.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class='employeeModal' *ngIf='showEditBox'>
  <div class='row' style='padding-top: 5%'>
    <div class='col-2'></div>
    <div class='col-8'>
      <div class="row" style='display: block'>
        <div class="container">
          <form autocomplete="off" spellcheck="false">
            <div class="form-group">
              <label for="formGroupExampleInput2">First name</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" [(ngModel)]='modalEmployee.firstName' name='firstName'>
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput3">Last name</label>
              <input type="text" class="form-control" id="formGroupExampleInput3" [(ngModel)]='modalEmployee.lastName' name='lastName'>
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput4">Company</label>
              <input type="text" class="form-control" id="formGroupExampleInput4" [(ngModel)]='modalEmployee.companyEntity.name'
                     name='company'>
            </div>
            <div class='row text-center pt-4'>
              <div class='col-4'>
                <button type="button" class="btn btn-primary" (click)='updateEmployee(modalEmployee.id, modalEmployee)'>Apply changes
                </button>
              </div>
              <div class='col-4'>
                <button type="button" class="btn btn-success" (click)='closeEditBox()'>Cancel</button>
              </div>
              <div class='col-4'>
                <button type="button" class="btn btn-danger" (click)='deleteEmployee(modalEmployee.id)'>Delete employee</button>
              </div>
            </div>
            <div class='row text-center pt-3'>
            </div>
          </form>

        </div>
      </div>
    </div>
    <div class='col-2'></div>

  </div>
</div>

<div class='employeeModal' *ngIf='showAddBox'>
  <div class='row' style='padding-top: 5%'>
    <div class='col-2'></div>
    <div class='col-8'>
      <div class="row" style='display: block'>
        <div class="container">
          <form autocomplete="off" spellcheck="false">
            <div class="form-group">
              <label for="formGroupExampleInput2">First name</label>
              <input type="text" class="form-control" [(ngModel)]='modalEmployee.firstName' name='firstName'>
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput3">Last name</label>
              <input type="text" class="form-control" [(ngModel)]='modalEmployee.lastName' name='lastName'>
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput4">Company name</label>
              <input type="text" class="form-control" [(ngModel)]='modalEmployee.companyEntity.name' name='company'>
            </div>
            <div class='row text-center pt-4'>
              <div class='col-6'>
                <button type="button" class="btn btn-primary" (click)='addEmployee()'>Add employee</button>
              </div>
              <div class='col-6'>
                <button type="button" class="btn btn-success" (click)='closeAddBox()'>Cancel</button>
              </div>
            </div>
            <div class='row text-center pt-3'>
            </div>
          </form>

          <div *ngIf='error' class='text-center'>
            <p>
              <ngb-alert type='danger' [dismissible]="true" (close)="closeAlert()">
                <strong>Error!</strong> {{errorMessage}}
              </ngb-alert>
            </p>

          </div>
        </div>
      </div>
    </div>
    <div class='col-2'></div>

  </div>
</div>
